<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/CSSstyle.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/sweetalert.css">
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="application/javascript" src="../static/js/addRemoveEmployee.js"></script>
	<script type="application/javascript" src="../static/js/relocation.js"></script>
	<script type="text/javascript" src="../static/js/sweetalert.min.js"></script>
	<title>Shift It Easy | Manager main page</title>
</head>
<body>
	<div id="header">
		<h1><center> Shift It Easy </center></h1>
		<h3><center> Welcome <span id ='userName'> {{userName}} </span>  </center></h3><br>
		<img src="../static/image/logo.jpg" style="width:150px;height:150px">
	</div>
	<div id="form_spinner" class="hidden"><div class="spinner"></div></div> <!-- loading spinner -->
	<br>  
	<br>
	<h3>Employee's id: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" class="textox" id="employee_id">&nbsp&nbsp&nbsp&nbsp<input type="submit" value="Remove" class = "btn" name = "id" id = "remove"></h3>
	<h3>First name: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" class="textox" id="first_name" name = "firstName"><h3>
	<h3>Last name:  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" class="textox" id="last_name" name = "lastName"><h3>
	
	
	<h3>Appoinatment %: &nbsp&nbsp&nbsp
	<input type="radio" name="action" value="66" name = "radio66" id="appointment_66">66%
	<input type="radio" name="action" value="88" name = "radio88" id="appointment_88">88%
	<input type="radio" name="action" value="100" name = "radio100" id="appointment_100">100%
	
	<h3>Username: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" class="textox" id="username" name = "username"><h3>
	<h3>Password: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" class="textox" id="password" name = "password"><h3>
	<form>
	<h2> Can work as a head nurse:
	<input type="radio" name="action" value="y" name = "radioYes" id="radio_yes">Yes
	<input type="radio" name="action" value="n" name = "radioNo" id="radio_no">No </h2>
	</form>
			
	<br>
	
		<button class = "btn" id="add_employee">Add</button>
	
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<button class = "btn" id="back_to_main_manager">Back</button>
</body>
</html>