<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/CSSstyle.css" />
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="application/javascript" src="../static/js/addRemoveEmployee.js"></script>
	<title>Shift It Easy | Manager main page</title>
</head>
<body>
	<div id="header">
		<h1><center> Shift It Easy </center></h1>
		<h3><center> Welcome Mr.Anderson </center></h3><br>
		<img src="../static/image/logo.jpg" style="width:150px;height:150px">
	</div>
	<br>  
	<br>
	<h3>Employee's id: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" class="textox" id="employee_id">&nbsp&nbsp&nbsp&nbsp<input type="submit" value="Remove" class = "btn" name = "id"></h3>
	<h3>First name: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" class="textox" id="first_name" name = "firstName"><h3>
	<h3>Last name:  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" class="textox" id="last_name" name = "lastName"><h3>
	<h3>Appointment %: &nbsp&nbsp&nbsp <input type="text" class="textox" id="appointment" name = "appointment"><h3>
	<h3>Username: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" class="textox" id="username" name = "username"><h3>
	<h3>Password: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="text" class="textox" id="password" name = "password"><h3>
	<form>
	<h2> Can work as a head nurse:
	<input type="radio" name="action" value="y" name = "radioYes">Yes
	<input type="radio" name="action" value="n" name = "radioNo">No </h2>
	</form>
			
	<br>
	
		<button class = "btn" id="add_employee">Add</button>
	
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<button class = "btn" onclick="location.href='MainManager'">Back</button>
</body>
</html>