<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/CSSstyle.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/sweetalert.css">
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="application/javascript" src="../static/js/relocation.js"></script>
	<script type="text/javascript" src="../static/js/sweetalert.min.js"></script>


	<title>Shift It Easy | Manager main page</title>

	<style>
		.CSSTableGenerator1 td#cell{
			padding-right: 80px;
			padding-top: 80px;
		}
	</style>
	<script>
		var status = 0;
		var flag = 0;
		var notes = [];
		notes.length = 42;
		var colors = [];
		colors.length = 42;
		var constrains = [];
		constrains.length = 42;
		var constrain = [];
		constrain.length = 2;
		var cellStatus = [];
		cellStatus.length = 42;
		
		for(i=0; i<42; i++)
		{
			cellStatus[i] = 0;
		}
		
		
	$(document).ready(function(){
	
	$.ajax({
		url:'/get_constrains',
		type:'GET',
		dataType:'json',
		data:{},
		success:function(data, status, xhr) {
			alert(data.constrainAndNotes[1]);
			if(data.constrainAndNotes != null)
			{
				// Initialize cellStatus array.
				for(i=0; i<42; i++)
				{
					cellStatus[i] = data.constrainAndNotes[0][i];
				}
			
				// Initialize notes array.
				var j = 0;
				for(i=0; i<7; i++)
				{
					notes[i] = data.constrainAndNotes[1][j];
					notes[i+7] = data.constrainAndNotes[1][j+1];
					notes[i+14] = data.constrainAndNotes[1][j+2];
					j+=3;
				}
				
				for(i = 21;i<28;i++)
				{
					notes[i] = data.constrainAndNotes[1][j];
					notes[i+7] = data.constrainAndNotes[1][j+1];
					notes[i+14] = data.constrainAndNotes[1][j+2];
					j+=3;
				}
			}	
			
			alert(notes);
			var cells1 = document.getElementById("table1").getElementsByTagName("td");
			var cells2 = document.getElementById("table2").getElementsByTagName("td");
			var j = 0;
			
			// Print previous constrains colours.
			for(i = 9;i <= 15; i++)
			{
				if(cellStatus[j] == 0)
				{
					cells1[i].style.backgroundColor = "white";
				}
				if(cellStatus[j] == 1)
				{
					cells1[i].style.backgroundColor = "green";
				}
				if(cellStatus[j] == 2)
				{
					cells1[i].style.backgroundColor = "yellow";
				}
				if(cellStatus[j] == 3)
				{
					cells1[i].style.backgroundColor = "red";
				}
					
				j++;
					
				if(cellStatus[j] == 0)
				{
					cells1[i+8].style.backgroundColor = "white";
				}
				if(cellStatus[j] == 1)
				{
					cells1[i+8].style.backgroundColor = "green";
				}
				if(cellStatus[j] == 2)
				{
					cells1[i+8].style.backgroundColor = "yellow";
				}
				if(cellStatus[j] == 3)
				{
					cells1[i+8].style.backgroundColor = "red";
				}
					
				j++;
					
					
				if(cellStatus[j] == 0)
				{
					cells1[i+16].style.backgroundColor = "white";
				}
				if(cellStatus[j] == 1)
				{
					cells1[i+16].style.backgroundColor = "green";
				}
				if(cellStatus[j] == 2)
				{
					cells1[i+16].style.backgroundColor = "yellow";
				}
				if(cellStatus[j] == 3)
				{
					cells1[i+16].style.backgroundColor = "red";
				}
						
				j++;
			}
			
			for(i = 9;i <= 15; i++)
			{
				if(cellStatus[j] == 0)
				{
					cells2[i].style.backgroundColor = "white";
				}
				if(cellStatus[j] == 1)
				{
					cells2[i].style.backgroundColor = "green";
				}
				if(cellStatus[j] == 2)
				{
					cells2[i].style.backgroundColor = "yellow";
				}
				if(cellStatus[j] == 3)
				{
					cells2[i].style.backgroundColor = "red";
				}
				
				j++;
					
				if(cellStatus[j] == 0)
				{
					cells2[i+8].style.backgroundColor = "white";
				}
				if(cellStatus[j] == 1)
				{
					cells2[i+8].style.backgroundColor = "green";
				}
				if(cellStatus[j] == 2)
				{
					cells2[i+8].style.backgroundColor = "yellow";
				}
				if(cellStatus[j] == 3)
				{
					cells2[i+8].style.backgroundColor = "red";
				}
								
				j++;
					
					
				if(cellStatus[j] == 0)
				{
					cells2[i+16].style.backgroundColor = "white";
				}
				if(cellStatus[j] == 1)
				{
					cells2[i+16].style.backgroundColor = "green";
				}
				if(cellStatus[j] == 2)
				{
					cells2[i+16].style.backgroundColor = "yellow";
				}
				if(cellStatus[j] == 3)
				{
					cells2[i+16].style.backgroundColor = "red";
				}
							
				j++;		

				// print previous constrains notes.
				printAllPreviousNotes(cells1, cells2, notes);	
				}
				
		},
		error:function(xhr, status, error) {
			swal(xhr.responseText);
			console.error(xhr, status, error);
		}
	});
});

	$(function() //this is jQuery's short notation for "fire all this when page is ready"
	{
	//night0
	$('#sun_night0').on('click',{row:0, col:0, table:1 },saveNote);
		$('#mond_night0').on('click',{row:0, col:1, table:1 },saveNote);
		$('#tues_night0').on('click',{row:0, col:2, table:1 },saveNote);
		$('#wedn_night0').on('click',{row:0, col:3, table:1 },saveNote);
		$('#thur_night0').on('click',{row:0, col:4, table:1 },saveNote);
		$('#frid_night0').on('click',{row:0, col:5, table:1 },saveNote);
		$('#satu_night0').on('click',{row:0, col:6, table:1 },saveNote);
		//morning0
		$('#sun_morning0').on('click',{row:1, col:0 ,table:1 },saveNote);
		$('#mond_morning0').on('click',{row:1, col:1 ,table:1 },saveNote);
		$('#tues_morning0').on('click',{row:1, col:2 ,table:1 },saveNote);
		$('#wedn_morning0').on('click',{row:1, col:3 ,table:1 },saveNote);
		$('#thur_morning0').on('click',{row:1, col:4 ,table:1 },saveNote);
		$('#frid_morning0').on('click',{row:1, col:5 ,table:1 },saveNote);
		$('#satu_morning0').on('click',{row:1, col:6 ,table:1 },saveNote);
		//noon0
		$('#sun_noon0').on('click',{row:2, col:0 ,table:1 },saveNote);
		$('#mond_noon0').on('click',{row:2, col:1 ,table:1 },saveNote);
		$('#tues_noon0').on('click',{row:2, col:2 ,table:1 },saveNote);
		$('#wedn_noon0').on('click',{row:2, col:3 ,table:1 },saveNote);
		$('#thur_noon0').on('click',{row:2, col:4 ,table:1 },saveNote);
		$('#frid_noon0').on('click',{row:2, col:5 ,table:1 },saveNote);
		$('#satu_noon0').on('click',{row:2, col:6 ,table:1 },saveNote);
		//night1
		$('#sun_night1').on('click',{row:0, col:0 ,table:2 },saveNote);
		$('#mond_night1').on('click',{row:0, col:1 ,table:2 },saveNote);
		$('#tues_night1').on('click',{row:0, col:2 ,table:2 },saveNote);
		$('#wedn_night1').on('click',{row:0, col:3 ,table:2 },saveNote);
		$('#thur_night1').on('click',{row:0, col:4 ,table:2 },saveNote);
		$('#frid_night1').on('click',{row:0, col:5 ,table:2 },saveNote);
		$('#satu_night1').on('click',{row:0, col:6 ,table:2 },saveNote);
		//morning1
		$('#sun_morning1').on('click',{row:1, col:0 ,table:2 },saveNote);
		$('#mond_morning1').on('click',{row:1, col:1 ,table:2 },saveNote);
		$('#tues_morning1').on('click',{row:1, col:2 ,table:2 },saveNote);
		$('#wedn_morning1').on('click',{row:1, col:3 ,table:2 },saveNote);
		$('#thur_morning1').on('click',{row:1, col:4 ,table:2 },saveNote);
		$('#frid_morning1').on('click',{row:1, col:5 ,table:2 },saveNote);
		$('#satu_morning1').on('click',{row:1, col:6 ,table:2 },saveNote);
		//noon1
		$('#sun_noon1').on('click',{row:2, col:0 ,table:2 },saveNote);
		$('#mond_noon1').on('click',{row:2, col:1 ,table:2 },saveNote);
		$('#tues_noon1').on('click',{row:2, col:2 ,table:2 },saveNote);
		$('#wedn_noon1').on('click',{row:2, col:3 ,table:2 },saveNote);
		$('#thur_noon1').on('click',{row:2, col:4 ,table:2 },saveNote);
		$('#frid_noon1').on('click',{row:2, col:5 ,table:2 },saveNote);
		$('#satu_noon1').on('click',{row:2, col:6 ,table:2 },saveNote);


    $('.cell').on('click',changeColor);
	$('#save').on('click',saveConstrains);
	});
	
	function getNoteButtonCellDetails(id)
	{
		// night 0
		if(id == "sun_night0")
			return [0,0,1];
		else if (id == "mond_night0")
			return [0,1,1];
		else if (id == "tues_night0")
			return [0,2,1];
		else if (id == "wedn_night0")
			return [0,3,1];
		else if (id == "thur_night0")
			return [0,4,1];
		else if (id == "frid_night0")
			return [0,5,1];
		else if (id == "satu_night0")
			return [0,6,1];
			
		// morning 0
		if(id == "sun_morning0")
			return [1,0,1];
		else if (id == "mond_morning0")
			return [1,1,1];
		else if (id == "tues_morning0")
			return [1,2,1];
		else if (id == "wedn_morning0")
			return [1,3,1];
		else if (id == "thur_morning0")
			return [1,4,1];
		else if (id == "frid_morning0")
			return [1,5,1];
		else if (id == "satu_morning0")
			return [1,6,1];
			
		// noon 0
		if(id == "sun_noon0")
			return [2,0,1];
		else if (id == "mond_noon0")
			return [2,1,1];
		else if (id == "tues_noon0")
			return [2,2,1];
		else if (id == "wedn_noon0")
			return [2,3,1];
		else if (id == "thur_noon0")
			return [2,4,1];
		else if (id == "frid_noon0")
			return [2,5,1];
		else if (id == "satu_noon0")
			return [2,6,1];
			
		// night 1
		if(id == "sun_night1")
			return [0,0,2];
		else if (id == "mond_night1")
			return [0,1,2];
		else if (id == "tues_night1")
			return [0,2,2];
		else if (id == "wedn_night1")
			return [0,3,2];
		else if (id == "thur_night1")
			return [0,4,2];
		else if (id == "frid_night1")
			return [0,5,2];
		else if (id == "satu_night1")
			return [0,6,2];
			
		// morning 1
		if(id == "sun_morning1")
			return [1,0,2];
		else if (id == "mond_morning1")
			return [1,1,2];
		else if (id == "tues_morning1")
			return [1,2,2];
		else if (id == "wedn_morning1")
			return [1,3,2];
		else if (id == "thur_morning1")
			return [1,4,2];
		else if (id == "frid_morning1")
			return [1,5,2];
		else if (id == "satu_morning1")
			return [1,6,2];
	
		// noon 1
		if(id == "sun_noon1")
			return [2,0,2];
		else if (id == "mond_noon1")
			return [2,1,2];
		else if (id == "tues_noon1")
			return [2,2,2];
		else if (id == "wedn_noon1")
			return [2,3,2];
		else if (id == "thur_noon1")
			return [2,4,2];
		else if (id == "frid_noon1")
			return [2,5,2];
		else if (id == "satu_noon1")
			return [2,6,2];
			
	}


	function saveNote(event)
	{
		var i;
		if(event.data.table==1)
		{
			i =7 * event.data.row + event.data.col;
			notes[i] = prompt("Please enter your Note", "");
		}
		else
		{
			i =21+(7 * event.data.row + event.data.col);
			notes[i] = prompt("Please enter your Note", "");
		}
		flag++;
		
		printNewNote($(this).attr('id'), notes[i]);
	}


	function changeColor()
	{
		var index;
		
		if($(this).attr('id') == "cell_1"){
			index = 0;
			}
		else if($(this).attr('id') == "cell_2"){
			index = 1;
			}
		else if($(this).attr('id') == "cell_3"){
			index = 2;
			}
		else if($(this).attr('id') == "cell_4"){
			index = 3;
			}
		else if($(this).attr('id') == "cell_5"){
			index = 4;
			}
		else if($(this).attr('id') == "cell_6"){
			index = 5;
			}
		else if($(this).attr('id') == "cell_7"){
			index = 6;
			}
		else if($(this).attr('id') == "cell_8"){
			index = 7;
			}
		else if($(this).attr('id') == "cell_9"){
			index = 8;
			}
		else if($(this).attr('id') == "cell_10"){
			index = 9;
			}
		else if($(this).attr('id') == "cell_11"){
			index = 10;
			}
		else if($(this).attr('id') == "cell_12"){
			index = 11;
			}
		else if($(this).attr('id') == "cell_13"){
			index = 12;
			}
		else if($(this).attr('id') == "cell_14"){
			index = 13;
			}
		else if($(this).attr('id') == "cell_15"){
			index = 14;
			}
		else if($(this).attr('id') == "cell_16"){
			index = 15;
			}
		else if($(this).attr('id') == "cell_17"){
			index = 16;
			}
		else if($(this).attr('id') == "cell_18"){
			index = 17;
			}
		else if($(this).attr('id') == "cell_19"){
			index = 18;
			}
		else if($(this).attr('id') == "cell_20"){
			index = 19;
			}
		else if($(this).attr('id') == "cell_21"){
			index = 20;
			}
		else if($(this).attr('id') == "cell_22"){
			index = 21;
			}
		else if($(this).attr('id') == "cell_23"){
			index = 22;
			}
		else if($(this).attr('id') == "cell_24"){
			index = 23;
			}
		else if($(this).attr('id') == "cell_25"){
			index = 24;
			}
		else if($(this).attr('id') == "cell_26"){
			index = 25;
			}
		else if($(this).attr('id') == "cell_27"){
			index = 26;
			}
		else if($(this).attr('id') == "cell_28"){
			index = 27;
			}
		else if($(this).attr('id') == "cell_29"){
			index = 28;
			}
		else if($(this).attr('id') == "cell_30"){
			index = 29;
			}
		else if($(this).attr('id') == "cell_31"){
			index = 30;
			}
		else if($(this).attr('id') == "cell_32"){
			index = 31;
			}
		else if($(this).attr('id') == "cell_33"){
			index = 32;
			}
		else if($(this).attr('id') == "cell_34"){
			index = 33;
			}
		else if($(this).attr('id') == "cell_35"){
			index = 34;
			}
		else if($(this).attr('id') == "cell_36"){
			index = 35;
			}
		else if($(this).attr('id') == "cell_37"){
			index = 36;
			}
		else if($(this).attr('id') == "cell_38"){
			index = 37;
			}
		else if($(this).attr('id') == "cell_39"){
			index = 38;
			}
		else if($(this).attr('id') == "cell_40"){
			index = 39;
			}
		else if($(this).attr('id') == "cell_41"){
			index = 40;
			}
		else if($(this).attr('id') == "cell_42"){
			index = 41;
			}
		
		status = cellStatus[index];
		
		if (status % 4 == 0 && flag==0) {
			$(this).css('background-color', 'green')//green
			status++;
			}
		else if (status % 4 == 1 && flag==0) {
			$(this).css('background-color', 'yellow')//yellow
			status++;
			}
		else if (status % 4 == 2 && flag==0) {
			$(this).css('background-color', 'red')//red
			status++;
			}
		else if (status % 4 == 3 && flag==0) {
			$(this).css('background-color', 'white')//white
			status++;
			}
		
		flag=0;
		if(status ==4)
			status = 0;
		cellStatus[index] = status;
	}

	function calculate(color,index)
	{
		var b;
		if(color.toString() == "white" || color.toString() == "")
		{
			b = notes[index];
			constrain = [0,b];
		}
		else if(color.toString() == "green")
		{

			b = notes[index];
			constrain = [1,b];
		}
		else if(color.toString() == "yellow")
		{

			b = notes[index];
			constrain = [2,b];
		}
		else if(color.toString() == "red")
		{

			b = notes[index];
			constrain = [3,b];
		}
		constrains[index] = constrain;
		
	}

function printNewNote(id, note)
{
	var dom1 = document.getElementById(id);
	var d = dom1.closest("td");
	var cellID = d.id;
	var dom2 = document.getElementById(cellID);
	$("#" + cellID).empty();
	dom2.insertAdjacentHTML('beforeend','<button id="' + id + '">Notes</button><br><br><b>' + note + '</b>');
	details = getNoteButtonCellDetails(id);
	$("#" + id).on('click',{row:details[0], col:details[1], table:details[2] },saveNote);
}

function printPreviousNote(id, note)
{
	var dom = document.getElementById(id);
	var firstChild = dom.firstElementChild;
	$("#" + id).empty();
	dom.insertAdjacentHTML('beforeend','<button id="' + firstChild.id + '">Notes</button><br><br><b>' + note + '</b>');
	details = getNoteButtonCellDetails(firstChild.id);
	$("#" + firstChild.id).on('click',{row:details[0], col:details[1], table:details[2] },saveNote);
}

function printAllPreviousNotes(table1cells, table2cells, notes)
{
	var j=0;
	for(i=9; i<=31; i++)
	{	
		if(i==16 || i==24)
			continue;
		else if(notes[j] != null)
			printPreviousNote(table1cells[i].id, notes[j]);
		j++;	
	}
	
	for(i=9; i<=31; i++)
	{	
		if(i==16 || i==24)
			continue;
		else if(notes[j] != null)
			printPreviousNote(table2cells[i].id, notes[j]);
		j++;	
	}
}

function saveConstrains()
{

	$('#form_spinner').removeClass('hidden'); //we show the spinner when we're about to submit
	//we simulate form submition with a simple timeout
	setTimeout(function() {
		$('#form_spinner').addClass('hidden');
	}, 50000);



						//------------------table1------------------//

	//--------------------------------------cell 0,0--------------------------------------------//
	calculate(document.getElementsByName("sun_night0_cell")[0].style.backgroundColor,0);
	//--------------------------------------cell 0,1--------------------------------------------//
	calculate(document.getElementsByName("mond_night0_cell")[0].style.backgroundColor,1);
	//---------------------------------------cell 0,2-------------------------------------------//
	calculate(document.getElementsByName("tues_night0_cell")[0].style.backgroundColor,2);
	//---------------------------------------cell 0,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_night0_cell")[0].style.backgroundColor,3);
	//---------------------------------------cell 0,4-------------------------------------------//
	calculate(document.getElementsByName("thur_night0_cell")[0].style.backgroundColor,4);
	//---------------------------------------cell 0,5-------------------------------------------//
	calculate(document.getElementsByName("frid_night0_cell")[0].style.backgroundColor,5);
	//---------------------------------------cell 0,6-------------------------------------------//
	calculate(document.getElementsByName("satu_night0_cell")[0].style.backgroundColor,6);


	//---------------------------------------cell 1,0-------------------------------------------//
	calculate(document.getElementsByName("sun_morning0_cell")[0].style.backgroundColor,7);
	//---------------------------------------cell 1,1-------------------------------------------//
	calculate(document.getElementsByName("mond_morning0_cell")[0].style.backgroundColor,8);
	//---------------------------------------cell 1,2-------------------------------------------//
	calculate(document.getElementsByName("tues_morning0_cell")[0].style.backgroundColor,9);
	//---------------------------------------cell 1,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_morning0_cell")[0].style.backgroundColor,10);
	//---------------------------------------cell 1,4-------------------------------------------//
	calculate(document.getElementsByName("thur_morning0_cell")[0].style.backgroundColor,11);
	//---------------------------------------cell 1,5-------------------------------------------//
	calculate(document.getElementsByName("frid_morning0_cell")[0].style.backgroundColor,12);
	//---------------------------------------cell 1,6-------------------------------------------//
	calculate(document.getElementsByName("satu_morning0_cell")[0].style.backgroundColor,13);


	//---------------------------------------cell 2,0-------------------------------------------//
	calculate(document.getElementsByName("sun_noon0_cell")[0].style.backgroundColor,14);
	//---------------------------------------cell 2,1-------------------------------------------//
	calculate(document.getElementsByName("mond_noon0_cell")[0].style.backgroundColor,15);
	//---------------------------------------cell 2,2-------------------------------------------//
	calculate(document.getElementsByName("tues_noon0_cell")[0].style.backgroundColor,16);
	//---------------------------------------cell 2,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_noon0_cell")[0].style.backgroundColor,17);
	//---------------------------------------cell 2,4-------------------------------------------//
	calculate(document.getElementsByName("thur_noon0_cell")[0].style.backgroundColor,18);
	//---------------------------------------cell 2,5-------------------------------------------//
	calculate(document.getElementsByName("frid_noon0_cell")[0].style.backgroundColor,19);
	//---------------------------------------cell 2,6-------------------------------------------//
	calculate(document.getElementsByName("satu_noon0_cell")[0].style.backgroundColor,20);


						//------------------table1------------------//

	//--------------------------------------cell 3,0--------------------------------------------//
	calculate(document.getElementsByName("sun_night1_cell")[0].style.backgroundColor,21);
	//--------------------------------------cell 3,1--------------------------------------------//
	calculate(document.getElementsByName("mond_night1_cell")[0].style.backgroundColor,22);
	//---------------------------------------cell 3,2-------------------------------------------//
	calculate(document.getElementsByName("tues_night1_cell")[0].style.backgroundColor,23);
	//---------------------------------------cell 3,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_night1_cell")[0].style.backgroundColor,24);
	//---------------------------------------cell 3,4-------------------------------------------//
	calculate(document.getElementsByName("thur_night1_cell")[0].style.backgroundColor,25);
	//---------------------------------------cell 3,5-------------------------------------------//
	calculate(document.getElementsByName("frid_night1_cell")[0].style.backgroundColor,26);
	//---------------------------------------cell 3,6-------------------------------------------//
	calculate(document.getElementsByName("satu_night1_cell")[0].style.backgroundColor,27);

	//---------------------------------------cell 4,0-------------------------------------------//
	calculate(document.getElementsByName("sun_morning1_cell")[0].style.backgroundColor,28);
	//---------------------------------------cell 4,1-------------------------------------------//
	calculate(document.getElementsByName("mond_morning1_cell")[0].style.backgroundColor,29);
	//---------------------------------------cell 4,2-------------------------------------------//
	calculate(document.getElementsByName("tues_morning1_cell")[0].style.backgroundColor,30);
	//---------------------------------------cell 4,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_morning1_cell")[0].style.backgroundColor,31);
	//---------------------------------------cell 4,4-------------------------------------------//
	calculate(document.getElementsByName("thur_morning1_cell")[0].style.backgroundColor,32);
	//---------------------------------------cell 4,5-------------------------------------------//
	calculate(document.getElementsByName("frid_morning1_cell")[0].style.backgroundColor,33);
	//---------------------------------------cell 4,6-------------------------------------------//
	calculate(document.getElementsByName("satu_morning1_cell")[0].style.backgroundColor,34);


	//---------------------------------------cell 2,0-------------------------------------------//
	calculate(document.getElementsByName("sun_noon1_cell")[0].style.backgroundColor,35);
	//---------------------------------------cell 2,1-------------------------------------------//
	calculate(document.getElementsByName("mond_noon1_cell")[0].style.backgroundColor,36);
	//---------------------------------------cell 2,2-------------------------------------------//
	calculate(document.getElementsByName("tues_noon1_cell")[0].style.backgroundColor,37);
	//---------------------------------------cell 2,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_noon1_cell")[0].style.backgroundColor,38);
	//---------------------------------------cell 2,4-------------------------------------------//
	calculate(document.getElementsByName("thur_noon1_cell")[0].style.backgroundColor,39);
	//---------------------------------------cell 2,5-------------------------------------------//
	calculate(document.getElementsByName("frid_noon1_cell")[0].style.backgroundColor,40);
	//---------------------------------------cell 2,6-------------------------------------------//
	calculate(document.getElementsByName("satu_noon1_cell")[0].style.backgroundColor,41);


	//send the constrains array to the server in order to save the constrains on db
	
	$.ajax({
		url:'/save_constrains',
		type:'GET',
		dataType:'json',
		data:{constrains: JSON.stringify(constrains)},
		success:function(data, status, xhr) {
			
			document.location.href = '/MainEmployee';
		},
		error:function(xhr, status, error) {
			swal(xhr.responseText);
			console.error(xhr, status, error);
		}
	});

}


	</script>
	<!--very important!-->

</head>
<body>
<div id="header">
	<h1><center> Shift It Easy </center></h1>
	<h3><center> Welcome <span id ='userName'> {{userName}} </span>  </center></h3><br>
	<img src="../static/image/logo.jpg" style="width:150px;height:150px">
</div>
<div class="CSSTableGenerator">
	<table>
		<tr>
			<td width="9%">	</td>
			<td width="13%">Sunday</td>
			<td width="13%">Monday</td>
			<td width="13%">Tuesday</td>
			<td width="13%">Wednesday</td>
			<td width="13%">Thursday</td>
			<td width="13%">Friday</td>
			<td width="13%">Saturday</td>
		</tr>
	</table>
</div>
<div class="CSSTableGenerator1">
	<table id="table1">
		<tr>
			<td width="9%">	</td>
			<td width="13%"><span id ='sunday0'> {{sunday0}} </span></td>
            <td width="13%"><span id ='monday0'> {{monday0}} </span></td>
			<td width="13%"><span id ='tuesday0'> {{tuesday0}} </span></td>
			<td width="13%"><span id ='wednesday0'> {{wednesday0}} </span></td>
			<td width="13%"><span id ='thursday0'> {{thursday0}} </span></td>
			<td width="13%"><span id ='friday0'> {{friday0}} </span></td>
			<td width="13%"><span id ='saturday0'> {{saturday0}} </span></td>
		</tr>
		<tr>
			<td>night</td>
			<td id='cell_1' class="cell" name="sun_night0_cell"><button id="sun_night0">Notes</button>		</td>
			<td id='cell_4' class="cell" name ="mond_night0_cell"><button  id="mond_night0">Notes</button>	    </td>
			<td id='cell_7' class="cell" name="tues_night0_cell"><button id="tues_night0">Notes</button>	    </td>
			<td id='cell_10' class="cell" name ="wedn_night0_cell"><button  id="wedn_night0">Notes</button>	    </td>
			<td id='cell_13' class="cell" name ="thur_night0_cell"><button  id="thur_night0">Notes</button>	    </td>
			<td id='cell_16' class="cell" name ="frid_night0_cell"><button  id="frid_night0">Notes</button>	    </td>
			<td id='cell_19' class="cell" name="satu_night0_cell"><button  id="satu_night0">Notes</button>	    </td>
		</tr>
		<tr>
			<td>morning</td>
			<td id='cell_2' class="cell" name="sun_morning0_cell"><button  id="sun_morning0">Notes</button>		</td>
			<td id='cell_5' class="cell" name="mond_morning0_cell"><button  id="mond_morning0">Notes</button>		</td>
			<td id='cell_8' class="cell" name="tues_morning0_cell"><button  id="tues_morning0">Notes</button>		</td>
			<td id='cell_11' class="cell" name="wedn_morning0_cell"><button  id="wedn_morning0">Notes</button>		</td>
			<td id='cell_14' class="cell" name="thur_morning0_cell"><button  id= "thur_morning0">Notes</button>		</td>
			<td id='cell_17' class="cell" name="frid_morning0_cell"><button  id="frid_morning0">Notes</button>		</td>
			<td id='cell_20' class="cell" name="satu_morning0_cell"><button  id="satu_morning0">Notes</button>		</td>

		</tr>
		<tr>
			<td>noon</td>
			<td id='cell_3' class="cell" name="sun_noon0_cell"><button  id="sun_noon0">Notes</button>		</td>
			<td id='cell_6' class="cell" name="mond_noon0_cell"><button  id="mond_noon0">Notes</button>		</td>
			<td id='cell_9' class="cell" name="tues_noon0_cell"><button  id="tues_noon0">Notes</button>		</td>
			<td id='cell_12' class="cell" name="wedn_noon0_cell"><button  id="wedn_noon0">Notes</button>		</td>
			<td id='cell_15' class="cell" name="thur_noon0_cell"><button  id= "thur_noon0">Notes</button>		</td>
			<td id='cell_18' class="cell" name="frid_noon0_cell"><button  id="frid_noon0">Notes</button>		</td>
			<td id='cell_21' class="cell" name="satu_noon0_cell"><button  id="satu_noon0">Notes</button>		</td>

		</tr>
	</table>
	
	<div id="form_spinner" class="hidden"><div class="spinner"></div></div> <!-- loading spinner -->
	
	<table id="table2">
		<tr>
			<td width="9%">	</td>
			<td width="13%"><span id ='sunday1'> {{sunday1}} </span></td>
            <td width="13%"><span id ='monday1'> {{monday1}} </span></td>
			<td width="13%"><span id ='tuesday1'> {{tuesday1}} </span></td>
			<td width="13%"><span id ='wednesday1'> {{wednesday1}} </span></td>
			<td width="13%"><span id ='thursday1'> {{thursday1}} </span></td>
			<td width="13%"><span id ='friday1'> {{friday1}} </span></td>
			<td width="13%"><span id ='saturday1'> {{saturday1}} </span></td>
		</tr>
		<tr>
			<td>night</td>
			<td id='cell_22' class="cell" name="sun_night1_cell"><button id="sun_night1">Notes</button>		</td>
			<td id='cell_25' class="cell" name="mond_night1_cell"><button id="mond_night1">Notes</button>	    </td>
			<td id='cell_28' class="cell" name="tues_night1_cell"><button id="tues_night1">Notes</button>	    </td>
			<td id='cell_31' class="cell" name="wedn_night1_cell"><button id="wedn_night1">Notes</button>	    </td>
			<td id='cell_34' class="cell" name="thur_night1_cell"><button id="thur_night1">Notes</button>	    </td>
			<td id='cell_37' class="cell" name="frid_night1_cell"><button id="frid_night1">Notes</button>	    </td>
			<td id='cell_40' class="cell" name="satu_night1_cell"><button id="satu_night1">Notes</button>	    </td>


		</tr>
		<tr>
			<td>morning</td>
			<td id='cell_23' class="cell" name="sun_morning1_cell"><button id="sun_morning1">Notes</button>		</td>
			<td id='cell_26' class="cell" name="mond_morning1_cell"><button id="mond_morning1">Notes</button>		</td>
			<td id='cell_29' class="cell" name="tues_morning1_cell"><button id="tues_morning1">Notes</button>		</td>
			<td id='cell_32' class="cell" name="wedn_morning1_cell"><button id="wedn_morning1">Notes</button>		</td>
			<td id='cell_35' class="cell" name="thur_morning1_cell"><button id="thur_morning1">Notes</button>		</td>
			<td id='cell_38' class="cell" name="frid_morning1_cell"><button id="frid_morning1">Notes</button>		</td>
			<td id='cell_41' class="cell" name="satu_morning1_cell"><button id="satu_morning1">Notes</button>		</td>
		</tr>
		<tr>
			<td>noon</td>
			<td id='cell_24' class="cell" name="sun_noon1_cell"><button id="sun_noon1">Notes</button>		    </td>
			<td id='cell_27' class="cell" name="mond_noon1_cell"><button id="mond_noon1">Notes</button>		</td>
			<td id='cell_30' class="cell" name="tues_noon1_cell"><button id="tues_noon1">Notes</button>		</td>
			<td id='cell_33' class="cell" name="wedn_noon1_cell"><button id="wedn_noon1">Notes</button>		</td>
			<td id='cell_36' class="cell" name="thur_noon1_cell"><button id="thur_noon1">Notes</button>		</td>
			<td id='cell_39' class="cell" name="frid_noon1_cell"><button id="frid_noon1">Notes</button>		</td>
			<td id='cell_42' class="cell" name="satu_noon1_cell"><button id="satu_noon1">Notes</button>		</td>
		</tr>
	</table>
</div>
<br><br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class = "btn" id = "save"> Save</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class = "btn" id="back_to_main_employee"> Back</button>
<br>
</div>
</div>

</body>
</html>