<html>

	 
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/CSSstyle.css" />
		<title>Shift It Easy | Manager main page</title>
	</head>
	<body>
		<div id="header">
			<h1><center> Shift It Easy </center></h1>
			<h3><center> Welcome Mr.Haim </center></h3><br>
			<img src="../static/image/logo.jpg" style="width:150;height:150px">
		</div>
		<div class="CSSTableGenerator">
			<table>
				<tr>
					<td width="9%">	</td>
					<td width="13%">Sunday</td>
					<td width="13%">Monday</td>
					<td width="13%">Tuesday</td>
					<td width="13%">Wednesday</td>
					<td width="13%">Thursday</td>
					<td width="13%">Friday</td>
					<td width="13%">Saturday</td>
				</tr>
			</table>
		</div>
		<div class="CSSTableGenerator1">    
			<table>
				<tr>
					<td width="9%">	</td>
					<td width="13%">31/05</td>
					<td width="13%">01/06</td>
					<td width="13%">02/06</td>
					<td width="13%">03/06</td>
					<td width="13%">04/06</td>
					<td width="13%">05/06</td>
					<td width="13%">06/06</td>
				</tr>
				<tr>
					<td>night</td>
					<td>	</td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
				</tr>
				<tr>
					<td>morning</td>
					<td>	</td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
				</tr>
				<tr>
					<td>noon</td>
					<td>	</td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
				</tr>
			</table>
			<table>
				<tr>
					<td width="9%">	</td>
					<td width="13%">07/06</td>
					<td width="13%">08/06</td>
					<td width="13%">09/06</td>
					<td width="13%">10/06</td>
					<td width="13%">11/06</td>
					<td width="13%">12/06</td>
					<td width="13%">13/06</td>
				</tr>
				<tr>
					<td>night</td>
					<td>	</td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
				</tr>
				<tr>
					<td>morning</td>
					<td>	</td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
				</tr>
				<tr>
					<td>noon</td>
					<td>	</td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
					<td>     </td>
				</tr>
			</table>	
		</div> 

		<br/><br/><br/>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	
		<button class = "B_Want"; steyle style="background-color:#red" >Want</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "B_preferNot"> Prefer not</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "B_canNot"> Can't</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "btn" onclick="alert('Schedule has been saved!')"> Save</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "btn" onclick="alert('Constrains have been submitted!')"> Submit</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<br>	
		
		<h3> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNotes: <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<textarea rows="4" cols="50" class="textox2" name="notes"> </textarea> </h3> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "btn" onclick="location.href='MainEmployee.html'"> Back</button>

    </div> 
	
</body>
</html>


 
