<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/CSSstyle.css" />
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>


	<title>Shift It Easy | Manager main page</title>

	<style>
		.CSSTableGenerator1 td#cell{
			padding-right: 80px;
			padding-top: 80px;
		}
	</style>
	<script>
		var status = 0;
		var flag = 0;
		var notes = [];
		notes.length = 42;
		var colors = [];
		colors.length = 42;
		var constrains = [];
		constrains.length = 42;
		var constrain = [];
		constrain.length = 2;

	$(function() //this is jQuery's short notation for "fire all this when page is ready"
	{
	//night0
	$('#sun_night0').bind('click',{row:0, col:0, table:1 },saveNote);
	$('#mond_night0').bind('click',{row:0, col:1, table:1 },saveNote);
	$('#tues_night0').bind('click',{row:0, col:2, table:1 },saveNote);
	$('#wedn_night0').bind('click',{row:0, col:3, table:1 },saveNote);
	$('#thur_night0').bind('click',{row:0, col:4, table:1 },saveNote);
	$('#frid_night0').bind('click',{row:0, col:5, table:1 },saveNote);
	$('#satu_night0').bind('click',{row:0, col:6, table:1 },saveNote);
	//morning0
	$('#sun_morning0').bind('click',{row:1, col:0 ,table:1 },saveNote);
	$('#mond_morning0').bind('click',{row:1, col:1 ,table:1 },saveNote);
	$('#tues_morning0').bind('click',{row:1, col:2 ,table:1 },saveNote);
	$('#wedn_morning0').bind('click',{row:1, col:3 ,table:1 },saveNote);
	$('#thur_morning0').bind('click',{row:1, col:4 ,table:1 },saveNote);
	$('#frid_morning0').bind('click',{row:1, col:5 ,table:1 },saveNote);
	$('#satu_morning0').bind('click',{row:1, col:6 ,table:1 },saveNote);
	//noon0
	$('#sun_noon0').bind('click',{row:2, col:0 ,table:1 },saveNote);
	$('#mond_noon0').bind('click',{row:2, col:1 ,table:1 },saveNote);
	$('#tues_noon0').bind('click',{row:2, col:2 ,table:1 },saveNote);
	$('#wedn_noon0').bind('click',{row:2, col:3 ,table:1 },saveNote);
	$('#thur_noon0').bind('click',{row:2, col:4 ,table:1 },saveNote);
	$('#frid_noon0').bind('click',{row:2, col:5 ,table:1 },saveNote);
	$('#satu_noon0').bind('click',{row:2, col:6 ,table:1 },saveNote);
	//night1
	$('#sun_night1').bind('click',{row:0, col:0 ,table:2 },saveNote);
	$('#mond_night1').bind('click',{row:0, col:1 ,table:2 },saveNote);
	$('#tues_night1').bind('click',{row:0, col:2 ,table:2 },saveNote);
	$('#wedn_night1').bind('click',{row:0, col:3 ,table:2 },saveNote);
	$('#thur_night1').bind('click',{row:0, col:4 ,table:2 },saveNote);
	$('#frid_night1').bind('click',{row:0, col:5 ,table:2 },saveNote);
	$('#satu_night1').bind('click',{row:0, col:6 ,table:2 },saveNote);
	//morning1
	$('#sun_morning1').bind('click',{row:1, col:0 ,table:2 },saveNote);
	$('#mond_morning1').bind('click',{row:1, col:1 ,table:2 },saveNote);
	$('#tues_morning1').bind('click',{row:1, col:2 ,table:2 },saveNote);
	$('#wedn_morning1').bind('click',{row:1, col:3 ,table:2 },saveNote);
	$('#thur_morning1').bind('click',{row:1, col:4 ,table:2 },saveNote);
	$('#frid_morning1').bind('click',{row:1, col:5 ,table:2 },saveNote);
	$('#satu_morning1').bind('click',{row:1, col:6 ,table:2 },saveNote);
	//noon1
	$('#sun_noon1').bind('click',{row:2, col:0 ,table:2 },saveNote);
	$('#mond_noon1').bind('click',{row:2, col:1 ,table:2 },saveNote);
	$('#tues_noon1').bind('click',{row:2, col:2 ,table:2 },saveNote);
	$('#wedn_noon1').bind('click',{row:2, col:3 ,table:2 },saveNote);
	$('#thur_noon1').bind('click',{row:2, col:4 ,table:2 },saveNote);
	$('#frid_noon1').bind('click',{row:2, col:5 ,table:2 },saveNote);
	$('#satu_noon1').bind('click',{row:2, col:6 ,table:2 },saveNote);


    $('td#cell').on('click',changeColor);
	$('#save').on('click',saveConstrains);
	getConstrain();
	});


	function saveNote(event)
	{
		var i;
		if(event.data.table==1)
		{
			i =7 * event.data.row + event.data.col;
			notes[i] = prompt("Please enter your Note", "");
		}
		else
		{
			i =21+(7 * event.data.row + event.data.col);
			notes[i] = prompt("Please enter your Note", "");
		}
		flag++;
	}


	function changeColor()
	{
		var color = $(this).css("background-color")
		
		if(color){
			status = 0
			alert("hello");
		}
		else if($(this).css('background-color', 'green')){
			status = 1
		}
		else if($(this).css('background-color', 'yellow')){
			status = 2
		}
		else if($(this).css('background-color', 'red')){
			status = 3
		}
		
		//alert(this.toString());
		if (status % 4 == 0 && flag==0) {
			$(this).css('background-color', 'yellow')//Yellow
			}
		else if (status % 4 == 1 && flag==0) {
			$(this).css('background-color', 'red')//red
			}
		else if (status % 4 == 2 && flag==0) {
			$(this).css('background-color', 'green')//green
			}
		else if (status % 4 == 3 && flag==0) {
			$(this).css('background-color', 'white')//white
			}
		flag=0;
	}

	function calculate(color,index)
	{
		var b;
		if(color.toString() == "white" || color.toString() == "")
		{
			b = notes[index];
			constrain = [0,b];
		}
		else if(color.toString() == "green")
		{

			b = notes[index];
			constrain = [1,b];
		}
		else if(color.toString() == "yellow")
		{

			b = notes[index];
			constrain = [2,b];
		}
		else if(color.toString() == "red")
		{

			b = notes[index];
			constrain = [3,b];
		}
		constrains[index] = constrain;





	}


function saveConstrains()
{						//------------------table1------------------//

	//--------------------------------------cell 0,0--------------------------------------------//
	calculate(document.getElementsByName("sun_night0_cell")[0].style.backgroundColor,0);
	//--------------------------------------cell 0,1--------------------------------------------//
	calculate(document.getElementsByName("mond_night0_cell")[0].style.backgroundColor,1);
	//---------------------------------------cell 0,2-------------------------------------------//
	calculate(document.getElementsByName("tues_night0_cell")[0].style.backgroundColor,2);
	//---------------------------------------cell 0,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_night0_cell")[0].style.backgroundColor,3);
	//---------------------------------------cell 0,4-------------------------------------------//
	calculate(document.getElementsByName("thur_night0_cell")[0].style.backgroundColor,4);
	//---------------------------------------cell 0,5-------------------------------------------//
	calculate(document.getElementsByName("frid_night0_cell")[0].style.backgroundColor,5);
	//---------------------------------------cell 0,6-------------------------------------------//
	calculate(document.getElementsByName("satu_night0_cell")[0].style.backgroundColor,6);


	//---------------------------------------cell 1,0-------------------------------------------//
	calculate(document.getElementsByName("sun_morning0_cell")[0].style.backgroundColor,7);
	//---------------------------------------cell 1,1-------------------------------------------//
	calculate(document.getElementsByName("mond_morning0_cell")[0].style.backgroundColor,8);
	//---------------------------------------cell 1,2-------------------------------------------//
	calculate(document.getElementsByName("tues_morning0_cell")[0].style.backgroundColor,9);
	//---------------------------------------cell 1,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_morning0_cell")[0].style.backgroundColor,10);
	//---------------------------------------cell 1,4-------------------------------------------//
	calculate(document.getElementsByName("thur_morning0_cell")[0].style.backgroundColor,11);
	//---------------------------------------cell 1,5-------------------------------------------//
	calculate(document.getElementsByName("frid_morning0_cell")[0].style.backgroundColor,12);
	//---------------------------------------cell 1,6-------------------------------------------//
	calculate(document.getElementsByName("satu_morning0_cell")[0].style.backgroundColor,13);


	//---------------------------------------cell 2,0-------------------------------------------//
	calculate(document.getElementsByName("sun_noon0_cell")[0].style.backgroundColor,14);
	//---------------------------------------cell 2,1-------------------------------------------//
	calculate(document.getElementsByName("mond_noon0_cell")[0].style.backgroundColor,15);
	//---------------------------------------cell 2,2-------------------------------------------//
	calculate(document.getElementsByName("tues_noon0_cell")[0].style.backgroundColor,16);
	//---------------------------------------cell 2,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_noon0_cell")[0].style.backgroundColor,17);
	//---------------------------------------cell 2,4-------------------------------------------//
	calculate(document.getElementsByName("thur_noon0_cell")[0].style.backgroundColor,18);
	//---------------------------------------cell 2,5-------------------------------------------//
	calculate(document.getElementsByName("frid_noon0_cell")[0].style.backgroundColor,19);
	//---------------------------------------cell 2,6-------------------------------------------//
	calculate(document.getElementsByName("satu_noon0_cell")[0].style.backgroundColor,20);


						//------------------table1------------------//

	//--------------------------------------cell 3,0--------------------------------------------//
	calculate(document.getElementsByName("sun_night1_cell")[0].style.backgroundColor,21);
	//--------------------------------------cell 3,1--------------------------------------------//
	calculate(document.getElementsByName("mond_night1_cell")[0].style.backgroundColor,22);
	//---------------------------------------cell 3,2-------------------------------------------//
	calculate(document.getElementsByName("tues_night1_cell")[0].style.backgroundColor,23);
	//---------------------------------------cell 3,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_night1_cell")[0].style.backgroundColor,24);
	//---------------------------------------cell 3,4-------------------------------------------//
	calculate(document.getElementsByName("thur_night1_cell")[0].style.backgroundColor,25);
	//---------------------------------------cell 3,5-------------------------------------------//
	calculate(document.getElementsByName("frid_night1_cell")[0].style.backgroundColor,26);
	//---------------------------------------cell 3,6-------------------------------------------//
	calculate(document.getElementsByName("satu_night1_cell")[0].style.backgroundColor,27);

	//---------------------------------------cell 4,0-------------------------------------------//
	calculate(document.getElementsByName("sun_morning1_cell")[0].style.backgroundColor,28);
	//---------------------------------------cell 4,1-------------------------------------------//
	calculate(document.getElementsByName("mond_morning1_cell")[0].style.backgroundColor,29);
	//---------------------------------------cell 4,2-------------------------------------------//
	calculate(document.getElementsByName("tues_morning1_cell")[0].style.backgroundColor,30);
	//---------------------------------------cell 4,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_morning1_cell")[0].style.backgroundColor,31);
	//---------------------------------------cell 4,4-------------------------------------------//
	calculate(document.getElementsByName("thur_morning1_cell")[0].style.backgroundColor,32);
	//---------------------------------------cell 4,5-------------------------------------------//
	calculate(document.getElementsByName("frid_morning1_cell")[0].style.backgroundColor,33);
	//---------------------------------------cell 4,6-------------------------------------------//
	calculate(document.getElementsByName("satu_morning1_cell")[0].style.backgroundColor,34);


	//---------------------------------------cell 2,0-------------------------------------------//
	calculate(document.getElementsByName("sun_noon1_cell")[0].style.backgroundColor,35);
	//---------------------------------------cell 2,1-------------------------------------------//
	calculate(document.getElementsByName("mond_noon1_cell")[0].style.backgroundColor,36);
	//---------------------------------------cell 2,2-------------------------------------------//
	calculate(document.getElementsByName("tues_noon1_cell")[0].style.backgroundColor,37);
	//---------------------------------------cell 2,3-------------------------------------------//
	calculate(document.getElementsByName("wedn_noon1_cell")[0].style.backgroundColor,38);
	//---------------------------------------cell 2,4-------------------------------------------//
	calculate(document.getElementsByName("thur_noon1_cell")[0].style.backgroundColor,39);
	//---------------------------------------cell 2,5-------------------------------------------//
	calculate(document.getElementsByName("frid_noon1_cell")[0].style.backgroundColor,40);
	//---------------------------------------cell 2,6-------------------------------------------//
	calculate(document.getElementsByName("satu_noon1_cell")[0].style.backgroundColor,41);


	//send the constrains array to the server in order to save the constrains on db

	$.ajax({
		url:'/save_constrains',
		type:'GET',
		dataType:'json',
		data:{constrains: JSON.stringify(constrains)},
		success:function(data, status, xhr) {
			if(data.status =="error")
				alert("error");
			else
				alert("ok");
			document.location.href = '/MainEmployee';
		},
		error:function(xhr, status, error) {
			alert(xhr.responseText);
			console.error(xhr, status, error);
		}
	});

}

function getConstrain()
{

	alert("inside");
	var cells = document.getElementById("table1").getElementsByTagName("td");
	
	cells[20].style.backgroundColor = "yellow";
	var colors;
	$.ajax({
		url:'/get_constrains',
		type:'GET',
		dataType:'json',
		data:{},
		success:function(data, status, xhr) {

		},
		error:function(xhr, status, error) {
			alert(xhr.responseText);
			console.error(xhr, status, error);
		}
	});
}

	</script>
	<!--very important!-->

</head>
<body>
<div id="header">
	<h1><center> Shift It Easy </center></h1>
	<h3><center> Welcome <span id ='userName'> {{userName}} </span>  </center></h3><br>
	<img src="../static/image/logo.jpg" style="width:150px;height:150px">
</div>
<div class="CSSTableGenerator">
	<table>
		<tr>
			<td width="9%">	</td>
			<td width="13%">Sunday</td>
			<td width="13%">Monday</td>
			<td width="13%">Tuesday</td>
			<td width="13%">Wednesday</td>
			<td width="13%">Thursday</td>
			<td width="13%">Friday</td>
			<td width="13%">Saturday</td>
		</tr>
	</table>
</div>
<div class="CSSTableGenerator1">
	<table id="table1">
		<tr>
			<td width="9%">	</td>
			<td width="13%"><span id ='sunday0'> {{sunday0}} </span></td>
            <td width="13%"><span id ='monday0'> {{monday0}} </span></td>
			<td width="13%"><span id ='tuesday0'> {{tuesday0}} </span></td>
			<td width="13%"><span id ='wednesday0'> {{wednesday0}} </span></td>
			<td width="13%"><span id ='thursday0'> {{thursday0}} </span></td>
			<td width="13%"><span id ='friday0'> {{friday0}} </span></td>
			<td width="13%"><span id ='saturday0'> {{saturday0}} </span></td>
		</tr>
		<tr>
			<td>night</td>
			<td id='cell' name="sun_night0_cell"><button id="sun_night0">Notes</button>		</td>
			<td id='cell' name ="mond_night0_cell"><button  id="mond_night0">Notes</button>	    </td>
			<td id='cell' name="tues_night0_cell"><button id="tues_night0">Notes</button>	    </td>
			<td id='cell' name ="wedn_night0_cell"><button  id="wedn_night0">Notes</button>	    </td>
			<td id='cell' name ="thur_night0_cell"><button  id="thur_night0">Notes</button>	    </td>
			<td id='cell' name ="frid_night0_cell"><button  id="frid_night0">Notes</button>	    </td>
			<td id='cell' name="satu_night0_cell"><button  id="satu_night0">Notes</button>	    </td>
		</tr>
		<tr>
			<td>morning</td>
			<td id='cell' name="sun_morning0_cell"><button  id="sun_morning0">Notes</button>		</td>
			<td id='cell' name="mond_morning0_cell"><button  id="mond_morning0">Notes</button>		</td>
			<td id='cell' name="tues_morning0_cell"><button  id="tues_morning0">Notes</button>		</td>
			<td id='cell' name="wedn_morning0_cell"><button  id="wedn_morning0">Notes</button>		</td>
			<td id='cell' name="thur_morning0_cell"><button  id= "thur_morning0">Notes</button>		</td>
			<td id='cell' name="frid_morning0_cell"><button  id="frid_morning0">Notes</button>		</td>
			<td id='cell' name="satu_morning0_cell"><button  id="satu_morning0">Notes</button>		</td>

		</tr>
		<tr>
			<td>noon</td>
			<td id='cell' name="sun_noon0_cell"><button  id="sun_noon0">Notes</button>		</td>
			<td id='cell' name="mond_noon0_cell"><button  id="mond_noon0">Notes</button>		</td>
			<td id='cell' name="tues_noon0_cell"><button  id="tues_noon0">Notes</button>		</td>
			<td id='cell' name="wedn_noon0_cell"><button  id="wedn_noon0">Notes</button>		</td>
			<td id='cell' name="thur_noon0_cell"><button  id= "thur_noon0">Notes</button>		</td>
			<td id='cell' name="frid_noon0_cell"><button  id="frid_noon0">Notes</button>		</td>
			<td id='cell' name="satu_noon0_cell"><button  id="satu_noon0">Notes</button>		</td>

		</tr>
	</table>
	<table id="table2">
		<tr>
			<td width="9%">	</td>
			<td width="13%"><span id ='sunday1'> {{sunday1}} </span></td>
            <td width="13%"><span id ='monday1'> {{monday1}} </span></td>
			<td width="13%"><span id ='tuesday1'> {{tuesday1}} </span></td>
			<td width="13%"><span id ='wednesday1'> {{wednesday1}} </span></td>
			<td width="13%"><span id ='thursday1'> {{thursday1}} </span></td>
			<td width="13%"><span id ='friday1'> {{friday1}} </span></td>
			<td width="13%"><span id ='saturday1'> {{saturday1}} </span></td>
		</tr>
		<tr>
			<td>night</td>
			<td id='cell' name="sun_night1_cell"><button id="sun_night1">Notes</button>		</td>
			<td id='cell' name="mond_night1_cell"><button id="mond_night1">Notes</button>	    </td>
			<td id='cell' name="tues_night1_cell"><button id="tues_night1">Notes</button>	    </td>
			<td id='cell' name="wedn_night1_cell"><button id="wedn_night1">Notes</button>	    </td>
			<td id='cell' name="thur_night1_cell"><button id="thur_night1">Notes</button>	    </td>
			<td id='cell' name="frid_night1_cell"><button id="frid_night1">Notes</button>	    </td>
			<td id='cell' name="satu_night1_cell"><button id="satu_night1">Notes</button>	    </td>


		</tr>
		<tr>
			<td>morning</td>
			<td id='cell' name="sun_morning1_cell"><button id="sun_morning1">Notes</button>		</td>
			<td id='cell' name="mond_morning1_cell"><button id="mond_morning1">Notes</button>		</td>
			<td id='cell' name="tues_morning1_cell"><button id="tues_morning1">Notes</button>		</td>
			<td id='cell' name="wedn_morning1_cell"><button id="wedn_morning1">Notes</button>		</td>
			<td id='cell' name="thur_morning1_cell"><button id="thur_morning1">Notes</button>		</td>
			<td id='cell' name="frid_morning1_cell"><button id="frid_morning1">Notes</button>		</td>
			<td id='cell' name="satu_morning1_cell"><button id="satu_morning1">Notes</button>		</td>
		</tr>
		<tr>
			<td>noon</td>
			<td id='cell' name="sun_noon1_cell"><button id="sun_noon1">Notes</button>		    </td>
			<td id='cell' name="mond_noon1_cell"><button id="mond_noon1">Notes</button>		</td>
			<td id='cell' name="tues_noon1_cell"><button id="tues_noon1">Notes</button>		</td>
			<td id='cell' name="wedn_noon1_cell"><button id="wedn_noon1">Notes</button>		</td>
			<td id='cell' name="thur_noon1_cell"><button id="thur_noon1">Notes</button>		</td>
			<td id='cell' name="frid_noon1_cell"><button id="frid_noon1">Notes</button>		</td>
			<td id='cell' name="satu_noon1_cell"><button id="satu_noon1">Notes</button>		</td>
		</tr>
	</table>
</div>
<br><br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class = "btn" id = "save"> Save</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class = "btn" onclick="alert('Constrains have been submitted!')"> Submit</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class = "btn" onclick="location.href='MainEmployee'"> Back</button>
<br>
</div>
</div>

</body>
</html>