<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/CSSstyle.css"/>
	<title>Shift It Easy | Manager main page</title>
</head>
<body>
	<div id="header">
		<h1><center> Shift It Easy </center></h1>
		<img src="../static/image/logo.jpg" style="width:150px;height:150px">
	</div>
	<div id="insert">
		<form action="demo_form.asp">
			<h3><center>Username: <input type="text" class="textox" name="username"></center></h3>
			<br><br><br>
			<h3><center>Password: <input type="password" class="textox" name="password"></center></h3>
		</form>
		<br><br><br><br>
		<center><h3> sign in as:</h3><br><br><br><br>
		<button class="btn" onclick="location.href='MainManager'"> Manager </button>
		&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class="btn" onclick="location.href='MainEmployee'"> Employee </button></center>
	</div>
</body>
</html>