<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/CSSstyle.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/sweetalert.css">
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="application/javascript" src="../static/js/login.js"></script>
	<script type="text/javascript" src="../static/js/sweetalert.min.js"></script>
	<title>Shift It Easy | Login page</title>
</head>
<body>
	<div id="header">
		<h1><center> Shift It Easy  </center></h1>
		<img src="../static/image/logo.jpg" style="width:150px;height:150px">
	</div>
	<div id="insert">
	
		<div id="form_spinner" class="hidden"><div class="spinner"></div></div> <!-- loading spinner -->
		
		<form action="demo_form.asp">
			<h3><center>Username: <input type="text" class="textox" name="username" id="userName"></center></h3>
			<br><br><br>
			<h3><center>Password: <input type="password" class="textox" name="password" id="password"></center></h3>
		</form>
		<br><br><br><br>
		<center><button class="btn" id="login"> Login </button></center>
	</div>
</body>
</html>