<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/CSSstyle.css" />
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="application/javascript" src="../static/js/relocation.js"></script>
	<title>Shift It Easy | Manager main page</title>
	
</head>
<body>
	<div id="header">
		<h1><center> Shift It Easy </center></h1>
		<h3><center> Welcome Mr.Anderson </center></h3><br>
		<img src="../static/image/logo.jpg" style="width:150px;height:150px">
	</div>
	<div class="CSSTableGenerator">
		<table>
            <tr>
                <td width="14%">Sunday</td>
                <td width="14%">Monday</td>
				<td width="14%">Tuesday</td>
				<td width="14%">Wednesday</td>
				<td width="14%">Thursday</td>
				<td width="14%">Friday</td>
				<td width="14%">Saturday</td>
            </tr>
		</table>
	</div>
	<div class="CSSTableGenerator1">
        <table>
            <tr>
                <td width="14%">17/05</td>
                <td width="14%">18/05</td>
				<td width="14%">19/05</td>
				<td width="14%">20/05</td>
				<td width="14%">21/05</td>
				<td width="14%">22/05</td>
				<td width="14%">23/05</td>
            </tr>
            <tr>
                <td onclick="location.href='CrewAssignment'">Brahi</td>
				<td onclick="location.href='CrewAssignment'">Zoya</td>
				<td onclick="location.href='CrewAssignment'">     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
            </tr>
            <tr>
                <td onclick="location.href='CrewAssignment'" > Tzvika</td>
				<td onclick="location.href='CrewAssignment'" >Stella</td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
            </tr>
			<tr>
                <td onclick="location.href='CrewAssignment'" >Shealtiel</td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
            </tr>
        </table>
		<table>
            <tr>
                <td width="14%">24/05</td>
                <td width="14%">25/05</td>
				<td width="14%">26/05</td>
				<td width="14%">27/05</td>
				<td width="14%">28/05</td>
				<td width="14%">29/05</td>
				<td width="14%">30/05</td>
            </tr>
            <tr>
                <td onclick="location.href='CrewAssignment'" >Omer<br>Tzuria</td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
            </tr>
            <tr>
                <td onclick="location.href='CrewAssignment'" >Dudi</td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
            </tr>
			<tr>
                <td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >Nahum</td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
				<td onclick="location.href='CrewAssignment'" >     </td>
            </tr>
        </table>
    </div> 
	<br>
	<div>	
		<button class = "btn" id="relocate_to_add_remove">Add/Remove Employee</button>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "btn" onclick="location.href='PreviousSchedule'">Watch Previous Schedule</button>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "btn" onclick="alert('Schedule has been saved')">Save</button>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "btn" onclick="alert('Schedule has been submitted!')">Submit Schedule</button>
		
		<br><br>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "btn" id="log_out">Logout</button>
	</div>	
</body>
</html>
