<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/CSSstyle.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/sweetalert.css">
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="application/javascript" src="../static/js/relocation.js"></script>
	<script type="text/javascript" src="../static/js/sweetalert.min.js"></script>
	<title>Shift It Easy | Manager main page</title>
</head>
<body>
	<div id="header">
		<h1><center> Shift It Easy </center></h1>
		<h3><center> Welcome <span id ='userName'> {{userName}} </span> </center></h3><br>
		<img src="../static/image/logo.jpg" style="width:150;height:150px">
	</div>
	<div class="CSSTableGenerator">
		<table>
            <tr>
				<td width="9%">	</td>
				<td width="13%">Sunday</td>
				<td width="13%">Monday</td>
				<td width="13%">Tuesday</td>
				<td width="13%">Wednesday</td>
				<td width="13%">Thursday</td>
				<td width="13%">Friday</td>
				<td width="13%">Saturday</td>
            </tr>
		</table>
	</div>
	<div class="CSSTableGenerator1">    
		
		<!-- First week -->
		
		<table>
			<tr>
				<td width="9%">	</td>
				<td width="13%"><span id ='sunday0'> {{sunday0}} </span></td>
				<td width="13%"><span id ='monday0'> {{monday0}} </span></td>
				<td width="13%"><span id ='tuesday0'> {{tuesday0}} </span></td>
				<td width="13%"><span id ='wednesday0'> {{wednesday0}} </span></td>
				<td width="13%"><span id ='thursday0'> {{thursday0}} </span></td>
				<td width="13%"><span id ='friday0'> {{friday0}} </span></td>
				<td width="13%"><span id ='saturday0'> {{saturday0}} </span></td>
            </tr>
            <tr>
				<td align="right">night</td>
				
<!----------------------------------------Tabel 1 night------------------------------------------------------>			
				
				<td>  
				
				<!-- Sunday0 night -->
				
					<b>Shift head:</b>
					<span  name="headNurseListSunday1" id="head_nurse_list_sunday1" style="width: 150px"> 
						{{Sunday0NightAssignBeforeHead}} </span>
					<br><br>
					
					<b>Second nurse:</b>
					<span name="secondNurseListSunday1" id="second_nurse_list_sunday1" style="width: 150px">
						{{Sunday0NightAssignBeforeSecond}} </span>
					<br><br>
					
					<b>Stand by:</b>
					<span name="standByListSunday1" id="stand_by_list_sunday1" style="width: 150px">
						{{Sunday0NightAssignBeforeStandBy}}</span>
				</td>
				<td>  
				
				<!-- Monday0 night -->
				
					<b>Shift head:</b>
					<span name="standByListMonday1" id="head_nurse_list_monday1" style="width: 150px">
						{{Monday0NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_monday1" style="width: 150px">
						{{Monday0NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_list_monday1" style="width: 150px">
						{{Monday0NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Tuesday0 night -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_tuesday1" style="width: 150px">
						{{Tuesday0NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_tuesday1" style="width: 150px">
						{{Tuesday0NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_tuesday1" style="width: 150px">
						{{Tuesday0NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Wednesday0 night -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_wednesday1" style="width: 150px">
						{{Wednesday0NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_wednesday1" style="width: 150px">
						{{Wednesday0NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_wednesday1" style="width: 150px">
						{{Wednesday0NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Thursday0 night -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_thursday1" style="width: 150px">
						{{Thursday0NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_thursday1" style="width: 150px">
						{{Thursday0NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_thursday1" style="width: 150px">
						{{Thursday0NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
					
				<!-- Friday0 night -->
				
					<b>Shift head:</b>
					<b><span name="headNurseList" id="head_nurse_list_friday1" style="width: 150px">
						{{Friday0NightAssignBeforeHead}} </span></b>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_friday1" style="width: 150px">
						{{Friday0NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_friday1" style="width: 150px">
						{{Friday0NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Saturday0 night -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_saturday1" style="width: 150px">
						{{Saturday0NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_saturday1" style="width: 150px">
						{{Saturday0NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_saturday1" style="width: 150px">
						{{Saturday0NightAssignBeforeStandBy}} </span>
						
				</td>
            </tr>
			
<!----------------------------------------Tabel 1 morning------------------------------------------------------>			
			
            <tr>
			
			<!-- Sunday0 morning -->
			
				<td align="right">morning</td>
                <td><b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_sunday2" style="width: 150px">
						{{Sunday0MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_sunday2" style="width: 150px">
						{{Sunday0MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_sunday2" style="width: 150px">
						{{Sunday0MorningAssignBeforeStandBy}} </span>
					
				</td>
				<td> 
				
				<!-- Monday0 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_monday2" style="width: 150px">
						{{Monday0MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_monday2" style="width: 150px">
						{{Monday0MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_monday2" style="width: 150px">
						{{Monday0MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Tuesday0 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_tuesday2" style="width: 150px">
						{{Tuesday0MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_tuesday2" style="width: 150px">
						{{Tuesday0MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Third nurse:</b>
					<span name="headNurseList" id="third_nurse_list_tuesday2" style="width: 150px">
						{{Tuesday0MorningAssignBeforeThird}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_tuesday2" style="width: 150px">
						{{Tuesday0MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Wednesday0 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_wednesday2" style="width: 150px">
						{{Wednesday0MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_wednesday2" style="width: 150px">
						{{Wednesday0MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_wednesday2" style="width: 150px">
						{{Wednesday0MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Thursday0 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_thursday2" style="width: 150px">
						{{Thursday0MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_thursday2" style="width: 150px">
						{{Thursday0MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Third nurse:</b>
					<span name="headNurseList" id="third_nurse_list_thursday2" style="width: 150px">
						{{Thursday0MorningAssignBeforeThird}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_list_thursday2" style="width: 150px">
						{{Thursday0MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Friday0 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_friday2" style="width: 150px">
						{{Friday0MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_friday2" style="width: 150px">
						{{Friday0MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_friday2" style="width: 150px">
						{{Friday0MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Saturday0 morning -->
				
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_saturday2" style="width: 150px">
						{{Saturday0MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_saturday2" style="width: 150px">
						{{Saturday0MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_saturday2" style="width: 150px">
						{{Saturday0MorningAssignBeforeStandBy}} </span>

				</td>
            </tr>
			
			
<!----------------------------------------Tabel 1 noon------------------------------------------------------>			
			<tr>
				<td align="right">noon</td>
                <td>  
				
				<!-- Sunday0 noon -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_sunday3" style="width: 150px">
						{{Sunday0NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_sunday3" style="width: 150px">
						{{Sunday0NoonAssignBeforeSecond}} </span>

					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_list_sunday3" style="width: 150px">
						{{Sunday0NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Monday0 noon -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_monday3" style="width: 150px">
						{{Monday0NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_monday3" style="width: 150px">
						{{Monday0NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_monday3" style="width: 150px">
						{{Monday0NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  <!-- Tuesday0 noon -->
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_tuesday3" style="width: 150px">
						{{Tuesday0NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_tuesday3" style="width: 150px">
						{{Tuesday0NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_tuesday3" style="width: 150px">
						{{Tuesday0NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  <!-- Wednesday0 noon -->
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_wednesday3" style="width: 150px">
						{{Wednesday0NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_wednesday3" style="width: 150px">
						{{Wednesday0NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_list_wednesday3" style="width: 150px">
						{{Wednesday0NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  <!-- Thursday0 noon -->
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_thursday3" style="width: 150px">
						{{Thursday0NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_thursday3" style="width: 150px">
						{{Thursday0NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_thursday3" style="width: 150px">
						{{Thursday0NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  <!-- Friday0 noon -->
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_friday3" style="width: 150px">
						{{Friday0NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_friday3" style="width: 150px">
						{{Friday0NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_friday3" style="width: 150px">
						{{Friday0NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  <!-- Saturday0 noon -->
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_saturday3" style="width: 150px">
						{{Saturday0NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_saturday3" style="width: 150px">
						{{Saturday0NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_saturday3" style="width: 150px">
						{{Saturday0NoonAssignBeforeStandBy}} </span>
						
				</td>
            </tr>
        </table>
		
		<div id="form_spinner" class="hidden"><div class="spinner"></div></div> <!-- loading spinner -->
		
		<table>
            <tr>
			
			<!-- Second week -->
			
				<td width="9%">	</td>
				<td width="13%"><span id ='sunday1'> {{sunday1}} </span></td>
				<td width="13%"><span id ='monday1'> {{monday1}} </span></td>
				<td width="13%"><span id ='tuesday1'> {{tuesday1}} </span></td>
				<td width="13%"><span id ='wednesday1'> {{wednesday1}} </span></td>
				<td width="13%"><span id ='thursday1'> {{thursday1}} </span></td>
				<td width="13%"><span id ='friday1'> {{friday1}} </span></td>
				<td width="13%"><span id ='saturday1'> {{saturday1}} </span></td>
            </tr>
            <tr>
				<td align="right">night</td>
<!----------------------------------------Tabel 2 night------------------------------------------------------>			
              
			  <td>  
			  
			  <!-- Sunday1 night -->
			  
					<b>Shift head:</b>
					<span name="headNurseListSunday1" id="head_nurse_list_sunday4" style="width: 150px">
						{{Sunday1NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="secondNurseListSunday1" id="second_nurse_list_sunday4" style="width: 150px">
						{{Sunday1NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="standByListSunday1" id="stand_by_list_sunday4" style="width: 150px">
						{{Sunday1NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Monday1 night -->
				
					<b>Shift head:</b>
					<span name="standByListMonday1" id="head_nurse_list_monday4" style="width: 150px">
						{{Monday1NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_monday4" style="width: 150px">
						{{Monday1NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_list_monday4" style="width: 150px">
						{{Monday1NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Tuesday1 night -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_tuesday4" style="width: 150px">
						{{Tuesday1NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_tuesday4" style="width: 150px">
						{{Tuesday1NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_tuesday4" style="width: 150px">
						{{Tuesday1NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Wedensday1 night -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_wednesday4" style="width: 150px">
						{{Wednesday1NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_wednesday4" style="width: 150px">
						{{Wednesday1NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_wednesday4" style="width: 150px">
						{{Wednesday1NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Thursday1 night -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_thursday4" style="width: 150px">
						{{Thursday1NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_thursday4" style="width: 150px">
						{{Thursday1NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_thursday4" style="width: 150px">
						{{Thursday1NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Friday1 night -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_friday4" style="width: 150px">
						{{Friday1NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_friday4" style="width: 150px">
						{{Friday1NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_friday4" style="width: 150px">
						{{Friday1NightAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Saturday1 night -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_saturday4" style="width: 150px">
						{{Saturday1NightAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_saturday4" style="width: 150px">
						{{Saturday1NightAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_saturday4" style="width: 150px">
						{{Saturday1NightAssignBeforeStandBy}} </span>						
				</td>
            <tr>
<!----------------------------------------Tabel 2 morning------------------------------------------------------>			
	
				<td align="right">morning</td>
                <td>  
				
				<!-- Sunday1 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_sunday5" style="width: 150px">
						{{Sunday1MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_sunday5" style="width: 150px">
						{{Sunday1MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_sunday5" style="width: 150px">
						{{Sunday1MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Monday1 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_monday5" style="width: 150px">
						{{Monday1MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_monday5" style="width: 150px">
						{{Monday1MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_monday5" style="width: 150px">
						{{Monday1MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td> 

				<!-- Tuesday1 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_tuesday5" style="width: 150px">
						{{Tuesday1MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_tuesday5" style="width: 150px">
						{{Tuesday1MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Third nurse:</b>
					<span name="headNurseList" id="third_nurse_list_tuesday5" style="width: 150px">
						{{Tuesday1MorningAssignBeforeThird}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_tuesday5" style="width: 150px">
						{{Tuesday1MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Wednesday1 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_wednesday5" style="width: 150px">
						{{Wednesday1MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_wednesday5" style="width: 150px">
						{{Wednesday1MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_wednesday5" style="width: 150px">
						{{Wednesday1MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Thursday1 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_thursday5" style="width: 150px">
						{{Thursday1MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_thursday5" style="width: 150px">
						{{Thursday1MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Third nurse:</b>
					<span name="headNurseList" id="third_nurse_list_thursday5" style="width: 150px">
						{{Thursday1MorningAssignBeforeThird}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_list_thursday5" style="width: 150px">
						{{Thursday1MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Friday1 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_friday5" style="width: 150px">
						{{Friday1MorningAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_friday5" style="width: 150px">
						{{Friday1MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_friday5" style="width: 150px">
						{{Friday1MorningAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Saturday1 morning -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_saturday5" style="width: 150px">
						{{Saturday1MorningAssignBeforeHead}} </span>

					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_saturday5" style="width: 150px">
						{{Saturday1MorningAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_saturday5" style="width: 150px">
						{{Saturday1MorningAssignBeforeStandBy}} </span>
						
				</td>
            </tr>
			
<!----------------------------------------Tabel 2 noon------------------------------------------------------>			

			<tr>
				<td align="right">noon</td>
                <td>  
				
				<!-- Sunday1 noon -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_sunday6" style="width: 150px">
						{{Sunday1NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_sunday6" style="width: 150px">
						{{Sunday1NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_list_sunday6" style="width: 150px">
						{{Sunday1NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Monday1 noon -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_monday6" style="width: 150px">
						{{Monday1NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_monday6" style="width: 150px">
						{{Monday1NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_monday6" style="width: 150px">
						{{Monday1NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td> 

				<!-- Tuesday1 noon -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_tuesday6" style="width: 150px">
						{{Tuesday1NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_tuesday6" style="width: 150px">
						{{Tuesday1NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_tuesday6" style="width: 150px">
						{{Tuesday1NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  <!-- Wednesday1 noon -->
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_wednesday6" style="width: 150px">
						{{Wednesday1NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_wednesday6" style="width: 150px">
						{{Wednesday1NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_list_wednesday6" style="width: 150px">
						{{Wednesday1NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Thursday1 noon -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_thursday6" style="width: 150px">
						{{Thursday1NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_thursday6" style="width: 150px">
						{{Thursday1NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_thursday6" style="width: 150px">
						{{Thursday1NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Friday1 noon -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_friday6" style="width: 150px">
						{{Friday1NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_friday6" style="width: 150px">
						{{Friday1NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_friday6" style="width: 150px">
						{{Friday1NoonAssignBeforeStandBy}} </span>
						
				</td>
				<td>  
				
				<!-- Saturday1 noon -->
				
					<b>Shift head:</b>
					<span name="headNurseList" id="head_nurse_list_saturday6" style="width: 150px">
						{{Saturday1NoonAssignBeforeHead}} </span>
						
					<br><br>
					<b>Second nurse:</b>
					<span name="headNurseList" id="second_nurse_list_saturday6" style="width: 150px">
						{{Saturday1NoonAssignBeforeSecond}} </span>
						
					<br><br>
					<b>Stand by:</b>
					<span name="headNurseList" id="stand_by_nurse_list_saturday6" style="width: 150px">
						{{Saturday1NoonAssignBeforeStandBy}} </span>
						
				</td>
        </table>	
	</div> 
	<br>
	<div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "btn" id="back_to_main_employee">Back</button>
	</div>		
</body>
</html>
