<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/CSSstyle.css" />
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="application/javascript" src="../static/js/relocation.js"></script>
	<title>Shift It Easy | Previous Schedule Page</title>
</head>
<body>
	<div id="header">
		<h1><center> Shift It Easy </center></h1>
		<h3><center> Welcome <span id ='userName'> {{userName}} </span> </center></h3><br>
		<img src="../static/image/logo.jpg" style="width:150px;height:150px">
	</div>
	<div class="CSSTableGenerator">
		<table>
            <tr>
                <td width="14%">Sunday</td>
                <td width="14%">Monday</td>
				<td width="14%">Tuesday</td>
				<td width="14%">Wednesday</td>
				<td width="14%">Thursday</td>
				<td width="14%">Friday</td>
				<td width="14%">Saturday</td>
            </tr>
		</table>
	</div>
	<div class="CSSTableGenerator1">
        <table>
            <tr>
                <td width="14%"><span id ='sunday0'> {{sunday0}} </span></td>
                <td width="14%"><span id ='monday0'> {{monday0}} </span></td>
				<td width="14%"><span id ='tuesday0'> {{tuesday0}} </span></td>
				<td width="14%"><span id ='wednesday0'> {{wednesday0}} </span></td>
				<td width="14%"><span id ='thursday0'> {{thursday0}} </span></td>
				<td width="14%"><span id ='friday0'> {{friday0}} </span></td>
				<td width="14%"><span id ='saturday0'> {{saturday0}} </span></td>
            </tr>
            <tr>
                <td>Haim</td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
            </tr>
            <tr>
                <td>Haim</td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
            </tr>
			<tr>
                <td>Haim</td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
            </tr>
        </table>
		
		<div id="form_spinner" class="hidden"><div class="spinner"></div></div> <!-- loading spinner -->
		
		<table>
            <tr>
                <td width="14%"><span id ='sunday1'> {{sunday1}} </span></td>
                <td width="14%"><span id ='monday1'> {{monday1}} </span></td>
				<td width="14%"><span id ='tuesday1'> {{tuesday1}} </span></td>
				<td width="14%"><span id ='wednesday1'> {{wednesday1}} </span></td>
				<td width="14%"><span id ='thursday1'> {{thursday1}} </span></td>
				<td width="14%"><span id ='friday1'> {{friday1}} </span></td>
				<td width="14%"><span id ='saturday1'> {{saturday1}} </span></td>
            </tr>
            <tr>
                <td>Haim</td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
            </tr>
            <tr>
                <td>Haim</td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
            </tr>
			<tr>
                <td>Haim</td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
				<td>     </td>
            </tr>
        </table>
    </div> 
	<br>
	<div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button class = "btn" id="back_to_main_manager"> Back </button>
	</div>
</body>
</html>
